*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #1254af30;
	font-size: 1rem;
	width: 100%;
}

#main-doc {
	width: 75%;
	float: right;
	padding: 1rem 2rem;
}

.main-section {
	text-align: justify;
}

.details{
	margin-left: 1rem;
	display: inline-block;
}


p, code {
	margin: 1rem 0;

}

li {
	margin: 0.5rem 0;
}

code {
	background-color: #fff;
	white-space: pre-line;
}

#navbar {
	width: 25%;
	height: 100vh;
	float: left;
	padding: 0;
	text-align: center;
	border-right: 10px solid #ffffff;
	position: fixed;
}

header {
	font-size: 1.5rem;
	padding: 1rem 0 1rem 0;
}

#navbar > header {
	margin: 0 0 0.75rem 0;
	border-bottom: 3px solid #ffffff;
}

#navbar > ul > li , a {
	list-style-type: none;
	text-align: left;
}

a {
	text-decoration: none;
	padding: 0 0 0 1rem;
}

#navbar > ul > li {
	padding: 2rem 0;
	border-top: 2px solid #ffffff;
}
#navbar > ul > li:nth-child(1) {
	padding: 2rem 0;
	border-top: 0;
}


@media (max-width: 720px) {

	#navbar {
		display: none;
	}

	#main-doc {
		width: 100%;
	}

}